HOSTNAME=odoo.local.dev # replace with hostname
RESOLVER=myresolver
SERVER_PORT=8069

# Postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=odoo
POSTGRES_USER=odoo
#PGDATA=/var/lib/postgresql/data/pgdata

